<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Urlrewriter</nom>
 	<version>1.1</version>
 	<prefix>urlrewriter</prefix>
	<type>classique</type>
 	<auteur>Scopika</auteur>
 	<thelia>1.5.0</thelia>
 	<description>
        Gestion de l'URL rewriting de manière fine.
 		&lt;br/&gt; Création : Cyril Batillat, &lt;a href="http://www.scopika.com" style="color:#FF0066"&gt;Agence Scopika&lt;/a&gt;
 	</description>
	<documentation>README</documentation>
 	<etat>production</etat>
</plugin>